
[submodule "Aasted_Erik_APCompSci_Sem1"]
	path = Aasted_Erik_APCompSci_Sem1
	url = https://github.com/tirefrier/Aasted_Erik_APCompSci_Sem1
[submodule "Ahuja_Sahil-APSem1"]
	path = Ahuja_Sahil-APSem1
	url = https://github.com/saahuja/Ahuja_Sahil-APSem1
[submodule "BAE_JOHN-APCOMPSCI-sem1"]
	path = BAE_JOHN-APCOMPSCI-sem1
	url = https://github.com/jbae99/BAE_JOHN-APCOMPSCI-sem1
[submodule "Chen-Neo-Sem-1"]
	path = Chen-Neo-Sem-1
	url = https://github.com/Masterlufit/Chen-Neo-Sem-1
[submodule "Edmonds_Alan"]
	path = Edmonds_Alan
	url = https://github.com/AlanEdmonds/Edmonds_Alan
[submodule "Izotov_Andreana"]
	path = Izotov_Andreana
	url = https://github.com/andreanai/Izotov_Andreana
[submodule "Jeong_Emily"]
	path = Jeong_Emily
	url = https://github.com/naseul56/Jeong_Emily
[submodule "Jin_Qixuan"]
	path = Jin_Qixuan
	url = https://github.com/AliceJin/Jin_Qixuan
[submodule "Li_Ethan__APCOMPSCI-Semester-1"]
	path = Li_Ethan__APCOMPSCI-Semester-1
	url = https://github.com/lie5571/Li_Ethan__APCOMPSCI-Semester-1
[submodule "Bond_Sophia"]
	path = Bond_Sophia
	url = https://github.com/sophiabond/Bond_Sophia
[submodule "kong_stacy_s1"]
	path = kong_stacy_s1
	url = https://github.com/stacykong/kong_stacy_s1
[submodule "LEE_GRACE-APCOMPSCISEM1"]
	path = LEE_GRACE-APCOMPSCISEM1
	url = https://github.com/glee6262/LEE_GRACE-APCOMPSCISEM1
[submodule "Mayo_Kendall"]
	path = Mayo_Kendall
	url = https://github.com/kendallmayo/Mayo_Kendall
[submodule "Multani_Priyanka"]
	path = Multani_Priyanka
	url = https://github.com/priya1316/Multani_Priyanka
[submodule "OHNO-MACHADO_MARCELO"]
	path = OHNO-MACHADO_MARCELO
	url = https://github.com/ohnomachadom1205/OHNO-MACHADO_MARCELO
[submodule "Park_Sungjin"]
	path = Park_Sungjin
	url = https://github.com/sungjinpark99/Park_Sungjin
[submodule "Parthasarathy_Shayla"]
	path = Parthasarathy_Shayla
	url = https://github.com/shaylapartha/Parthasarathy_Shayla
[submodule "PERDUE_MADELEINE"]
	path = PERDUE_MADELEINE
	url = https://github.com/maddyperdue/PERDUE_MADELEINE
[submodule "Pi_Halton"]
	path = Pi_Halton
	url = https://github.com/pih6068/Pi_Halton
[submodule "Ren_Kevin_Sem1"]
	path = Ren_Kevin_Sem1
	url = https://github.com/komathsite/Ren_Kevin_Sem1
[submodule "Valdes_Ethan"]
	path = Valdes_Ethan
	url = https://github.com/ethanvaldes/Valdes_Ethan
[submodule "Klimek_Kalyn"]
	path = Klimek_Kalyn
	url = https://github.com/kalynklimek/Klimek_Kalyn
[submodule "Schuh_Anton"]
	path = Schuh_Anton
	url = https://github.com/antonschuh/Schuh_Anton
[submodule "Friedman_SethAP"]
	path = Friedman_SethAP
	url = https://github.com/friedmans0841/Friedman_SethAP
[submodule "Guru_Aditya"]
	path = Guru_Aditya
	url = https://github.com/dorlokk/Guru_Aditya
[submodule "Chen_Baixin_APCOMPSCI_Sem1"]
	path = Chen_Baixin_APCOMPSCI_Sem1
	url = https://github.com/Bbaronchen/Chen_Baixin_APCOMPSCI_Sem1
[submodule "Hoh_Jodie"]
	path = Hoh_Jodie
	url = https://github.com/MitsukiMoon/Hoh_Jodie
[submodule "Karlov_Konstantin"]
	path = Karlov_Konstantin
	url = https://github.com/karlovk/Karlov_Konstantin
[submodule "Lin_Cody"]
	path = Lin_Cody
	url = https://github.com/StopwatchCAMEL/Lin_Cody
[submodule "Nergis_Piril"]
	path = Nergis_Piril
	url = https://github.com/nergisp/Nergis_Piril
[submodule "best_tyler"]
	path = best_tyler
	url = https://github.com/tylerbest/best_tyler
[submodule "SCHEG_LAUREN"]
	path = SCHEG_LAUREN
	url = https://github.com/laurenscheg/SCHEG_LAUREN
[submodule "Cugliandro_Daniel"]
	path = Cugliandro_Daniel
	url = https://github.com/dcugliandro/Cugliandro_Daniel
[submodule "Huang_Ivy"]
	path = Huang_Ivy
	url = https://github.com/ivyhuang9/Huang_Ivy
[submodule "Tyagi_AnishaAPCOMPSCI"]
	path = Tyagi_AnishaAPCOMPSCI
	url = https://github.com/anishatyagi/Tyagi_AnishaAPCOMPSCI
